NET "mclk" LOC=M6;
NET "RST" LOC=G12;
NET "HS" LOC=J14;
NET "VS" LOC=K13;
NET "RGB_out[0]" LOC=C14;
NET "RGB_out[1]" LOC=D13;
NET "RGB_out[2]" LOC=F13;
NET "RGB_out[3]" LOC=F14;
NET "RGB_out[4]" LOC=G13;
NET "RGB_out[5]" LOC=G14;
NET "RGB_out[6]" LOC=H13;
NET "RGB_out[7]" LOC=J13;
NET "SW[0]" LOC=N3;
NET "SW[1]" LOC=E2;
NET "SW[2]" LOC=F3;
NET "SW[3]" LOC=G3;
NET "SW[4]" LOC=B4;
NET "SW[5]" LOC=K3;
NET "SW[6]" LOC=L3;
NET "SW[7]" LOC=P11;